

img{
    width:100%;
    margin:10px;
}

img:hover{
    transform:scale(1.1);
}

nav{
    border-bottom: 1px solid;
}

li{
    display:inline-block;
    /* padding:5px 5px 5px 10px; */
    border-left:solid;
    color:black;
    
}

.active{
    background-color: yellow;
}

p{
    margin:10px;
  
}

h2{
    width:100%;
    border-bottom: 1px dotted;
    font-weight:normal;
    margin-top:20px;
    padding:10px;

}

a{
    margin:auto;
}

.description{
    margin-top:-50px;
    background-color: white;
    z-index: 5;
}